body {
  margin: 0;
  color: #222;
  background-color: #ddd;
}
.wrapper {
  max-width: 500px;
  margin-inline: auto;
}
h1 {
  text-align: center;
}
details,
details p,
details img {
  text-align: center;
  margin-top: 1em;
}
img {
  display: block;
  border: 1px solid black;
  padding: 1em;
  max-width: 300px;
  margin-inline: auto;
}
.tile-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  margin-inline: auto;
  margin-top: 1em;
}
.tile-row {
  display: flex;
  gap: 5px;
}
.tile {
  width: 70px;
  height: 70px;
  border: 1px solid currentColor;
  border-radius: 10px;
  box-shadow: gray 5px 5px;
  background-color: #fff;
  text-align: center;
  font-size: 32px;
}
.tile:hover {
  cursor: pointer;
}
.status {
  text-align: right;
  margin-top: 1em;
}
.completed {
  display: none;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
}
.completed.-show {
  display: inline;
}